.parallax-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}

#parallax {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: #a4d1f8;
    overflow: hidden;
}

.parallax__layer {
    max-height: 100%;
    max-width: 100%;
    will-change: transform;
}

.parallax__image {
    width: auto;
    height: 100vh;
    // min-height: 680px;
}


.parallax__roof {
    transform: scale(1.18) translateY(2%) translateX(-5%);
    @include tablets {
        transform: scale(1.18) translateY(2%) translateX(-19%);  
    }   

    @include phones__landscape {
        transform: scale(1.18) translateY(2%) translateX(-6%);  
    }

    @include phones {
        transform: scale(1.18) translateY(2%) translateX(-32%);  
    }

}

.parallax__hangar{
    transform: scale(1.16) translateY(2%) translateX(-5%);
    @include tablets {
        transform: scale(1.16) translateY(2%) translateX(-20%);
    }   

    @include phones {
        transform: scale(1.16) translateY(2%) translateX(-34%);
    }

    @include phones__landscape {
        transform: scale(1.16) translateY(2%) translateX(-6%);
    }    
    
}

.parallax__inner {
    transform: scale(1.265) translateY(3%) translateX(-5%); 

    @include tablets {
        transform: scale(1.265) translateY(3%) translateX(-19%); 
    }   

    @include phones {
        transform: scale(1.265) translateY(3%) translateX(-34%); 
    }
    
    @include phones__landscape {
        transform: scale(1.265) translateY(3%) translateX(-6%); 
    }  
    
}

.parallax__bg {
    transform: scale(1.45) translateY(10%) translateX(5%);

    @include tablets {
        transform: scale(1.45) translateY(10%) translateX(-24%);
    }

    @include phones {
        transform: scale(1.45) translateY(10%) translateX(-24%);
    }

    @include phones__landscape {
        transform: scale(1.45) translateY(10%) translateX(4%);
    }
}

.parallax__grass {
    transform: scale(1.3) translateY(-4%) translateX(-2%);
    @include tablets {
        transform: scale(1.3) translateY(-4%) translateX(-10%);        
    }   
    @include phones {
        transform: scale(1.3) translateY(-4%) translateX(-37%);
    }   
    
}

.container {
    display: flex;
    justify-content: center;
    // align-items: center;
    width: 100%;
    height: 100vh;
}

.con {
    max-width: 100%;
    max-height: 100%;
}

.hangar {
    width: auto;
    height: 100%;
}

