.parallax-container
  #parallax
    div(data-depth="0.1" class='parallax__layer')
      img(src='./assets/images/parallax/back.png').parallax__image.parallax__bg
    div(data-depth="0.35" class='parallax__layer')
      img(src='./assets/images/parallax/inner.png').parallax__image.parallax__inner
    div(data-depth="0.5" class='parallax__layer')
      img(src='./assets/images/parallax/hangar.png').parallax__image.parallax__hangar
    div(data-depth="0.6" class='parallax__layer')
      img(src='./assets/images/parallax/roof.png').parallax__image.parallax__roof
    div(data-depth="1" class='parallax__layer')
      img(src='./assets/images/parallax/grass.png').parallax__image.parallax__grass